@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Estonia&family=Girassol&family=Kings&family=Oxanium:wght@200..800&family=Trade+Winds&display=swap');





body{
    background-color: black;
    background-image: url("Archive/pexels-francesco-ungaro-998641.jpg");
    background-size: cover;
    background-attachment: fixed;
}

body:active {
}

body{
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
}
p{
    font-family: "Oxanium", sans-system-ui;
    color: #f0e6f6;
    text-align: justify;
    margin: 50px;
    font-size: 20px;
}

.navbar-container{
    background-color: transparent;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.hero{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.Cards{
    background-color: rgba(50, 62, 62, 0.085);
    padding: 20px;
    border-radius: 10px;
}
