/* faltu ka bhagbhosda for each page */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Jim+Nightshade&family=Kings&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Uncial+Antiqua&display=swap');
@font-face {
  font-family:'StarJedi';
  src: url("../0. Archive/Star Jedi Font/StarjediSpecialEdition-9Bqy.ttf") format("truetype");
}

*{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}


body{
    margin: 0;
    background-image: url("../0. Archive/pexels-umutdagli-13402171.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.headerr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    color: white;
}

.Logo{
    font-family: "StarJedi", sans-serif;
    font-size: 50px;
    color:#97e5f3;
    text-shadow: #fefae0 2px 2px 2px 2px
}

.topnav {
  background-color: transparent;
  overflow: hidden;
}


.nav-links a {
  float: left;
  color: #fefae0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'IM Fell English SC', serif;
}


.nav-links a:hover {
  background-color: transparent;
  color: #94d2bdde;
}


.nav-links a.active {
  background-color: transparent;
  color: #94d2bdde;
}


.content {
    height: 200vh; 
    color: white;
    padding: 50px;
}

a{
    text-decoration: none;
    color: #fefae0;
    font-size: 30px;
    font-family: 'Jim Nightshade', serif;
}

a:hover{
    color: #94d2bdde;
}
